name: Test

on:
  workflow_dispatch:
  push:
    branches: ["main", "rc-*"]
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
  release:
    types: [published]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]
    
    env:
      # This workflow will not make any live API calls; those are reserved for 
      # the test-live.yml workflow. Instead, we rely on the VCR cassettes to
      # simulate API responses. However, we still set dummy API keys here
      # so that, if the SDK makes pre-emptive checks for the presence of
      # an API key, those checks will pass.
      ANTHROPIC_API_KEY: dummy-api-key
      AZURE_OPENAI_API_KEY: dummy-api-key
      CLOUDFLARE_API_KEY: dummy-api-key
      CLOUDFLARE_ACCOUNT_ID: dummy-id
      DATABRICKS_HOST: dummy-api-key
      DATABRICKS_TOKEN: dummy-api-key
      DEEPSEEK_API_KEY: dummy-api-key
      GH_TOKEN: dummy-api-key
      GOOGLE_API_KEY: dummy-api-key
      GROQ_API_KEY: dummy-api-key
      HUGGINGFACE_API_KEY: dummy-api-key
      MISTRAL_API_KEY: dummy-api-key
      OPENAI_API_KEY: dummy-api-key

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v3

      - name: Set up Python ${{ matrix.python-version }}
        run: uv python install ${{ matrix.python-version }}

      - name: Install the project
        run: uv sync --python ${{ matrix.python-version }} --all-extras

      - name: Check tests
        run: make check-tests

      - name: Check types
        if: ${{ matrix.python-version != '3.9' }}
        run: make check-types

      - name: Check formatting
        run: make check-format
